ul{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
li{
    display: inline;
    float: left;
    padding-top: 20px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}
a, p, span, li{
    font-family: Arial, sans-serif;
    font-size: 13px;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
    font-family: Arial, sans-serif;
}
a:hover{
    text-decoration: underline;
}
.logo{
    margin: 20px auto;
    padding-top: 150px;
    width: fit-content;
    margin: auto;
}
.search-bar{
    width:450px;
    height: 50px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
}
.search-bar:hover{
    box-shadow: 0px 0px 4px 2px rgb(219, 219, 219);
}
.search{
    border-style: none;
    display: inline;
}
.search:focus{
    outline: none;
}
.search-text{
    display: inline;
    position: relative;
    top: 15px;
    left: 10px;
}
.search-ends{
    display:inline;
    position: relative;
    top: 4px;
}
#magnifying-glass{
    position: relative;
    left: 10px;
    top: 10px;
}
#microphone{
    position: relative;
    top: 5px;
    right: 10px;
}
.buttons{
    width: fit-content;
    margin: auto;
    padding: 20px 10px 10px 10px;
}
div.button{
    display: inline;
    width: fit-content;
    padding: 5px;
}
input.button{
    background-color: #f8f9fa;
    border: none; 
    height: 40px;
    width: 130px;
    border-radius: 5px;
}
input.button:hover{
    box-shadow: 0px 0px 0px 1px #8f8f8f4d;
}
.cyber-monday{
    padding: 10px;
    width: fit-content;
    margin: auto;
    text-align: center;
}
.sale{
    position: relative;
    bottom: 15px;
}
#squares{
    height:20px;
    width: 20px;
    position: relative;
    bottom: 2px;
}
#rounded{
    border-radius: 50%;
    position: relative;
    bottom: 7px;
}
#store-link{
    color: #1a0dab;
}
#store-link:visited{
    color:#609;
}
.footer{
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0px;
    padding-bottom: 15px;
    background-color: #f2f2f2;
    border-top: 1px solid #c0c0c0;
}
.bottom-links, .bottom-links:visited{
    color:#70757a;
    font-size: 14px;
}
.top-left, .top-left:visited{
    color:#000;
}
.top-right, .top-right:visited{
    color:#000000DE;
    float: right;
}
.bottom-right{
    float: right;
}
.bottom-middle{
    width: fit-content;
    margin: auto;
}